@model MyCineBel.Client.Models.Acteur

@{
    ViewData["Title"] = "Create";
}

<hr />
<h1 class="text-light">Creer un nouvel acteur</h1>


<hr />
<div class="row">
    <div class="col-md-4 text-light">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ACT_Nom" class="control-label"></label>
                <input asp-for="ACT_Nom" class="form-control" />
                <span asp-validation-for="ACT_Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACT_Prenom" class="control-label"></label>
                <input asp-for="ACT_Prenom" class="form-control" />
                <span asp-validation-for="ACT_Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


