@model MyCineBel.Client.Models.Acteur

@{
    ViewData["Title"] = "Edit";
}
<<hr />
<h1 class="text-light">Edit</h1>

<h4 class="text-light">Acteur</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-light">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ACT_Id" />

            <div class="form-group">
                <label asp-for="ACT_Nom" class="control-label"></label>
                <input asp-for="ACT_Nom" class="form-control" />
                <span asp-validation-for="ACT_Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACT_Prenom" class="control-label"></label>
                <input asp-for="ACT_Prenom" class="form-control" />
                <span asp-validation-for="ACT_Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

