<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyCineBel.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: rgba(32,33,36,1);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow" style="background: hsl(210deg 10% 23%);">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyCineBel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Gestion" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Gestion" asp-controller="Salle" asp-action="Index">Salle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Gestion" asp-controller="Seance" asp-action="Index">Films/Seance</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a id="qsLogoutBtn" asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a></li>
                        }
                        else
                        {
                            <li><a id="qsLoginBtn" asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
    <br />
    <div class="text-center">
        <h3 class="display-3 , text-center text-light">MyCineBel</h3>
        <img src="https://jeanmusoni.blob.core.windows.net/cineimage/logo.JPG" style="border-radius:25px" width="600" height="125" />

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MyCineBel.Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
